
      	<div class="modal-header">
        	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        		添加项目
      		</div>
      	<div class="modal-body">
    		<form action="/mcadmin/bussiness/create" method="post" name="postform">{% csrf_token %}
    		{% for field in form %}
        		<div class="form-group">
        			<label class="col-md-5 control-label">{{ field.label_tag }}</label>
					<div>{{ field }}</div>
				</div>      			     		
    		{% endfor %}
    			<div class="col-sm-offset-11 col-sm-50">
    				<input type="submit" value="登 录" class=" btn btn-primary">
    			</div>
    		</form>
    	</div> 							

<!-- Required Stylesheets -->
<link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="/static/css/main.css" rel="stylesheet" type="text/css">
<!-- Required Javascript -->
<script src="/static/js/public.js"></script>
<script src="/static/js/jquery-3.0.0.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>