<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		修改实例组名称
</div>
<div class="modal-body">
	{% if group_name %}
		<p>现在实例组名称为：{{ group_name }}，请输入新的实例组名称</p>
	{% endif %}
    <form action="/mcadmin/group/update" method="post" name="postform">{% csrf_token %}
    	<input type="hidden" name="group_code" value="{{ group_code }}">
    	{% for field in form %}
        <div class="form-group">
        	{{ field.label_tag }}
			{{ field }}
		</div>      			     		
    	{% endfor %}
    	<input type="submit" value="修改" class=" btn btn-primary">
    </form>
 </div> 							