<title>McAdmin</title>
<div class="navbar navbar-duomi navbar-static-top" role="navigation">
	{% include "mcadmin/head1.html" %}
</div>
<div class="container-fluid">
	<div class="row">
    	<div class="col-md-2">
        	{% include "mcadmin/sidebar_menu.html" %}
        </div>
    
		<div class="col-md-10">
      		<ol class="breadcrumb">
  				<li><a href="">Home</a></li>
  				<li>memcache管理</li>
  				<li class="active">实例组管理</li>
			</ol>
		<div class="panel panel-default">
			<div class="panel-body">
			{% if form %}
    			<form action="/mcadmin/group/display" method="post" class="form-inline" name="postform">{% csrf_token %}
         		{% for field in form %}
        			<div class="form-group"  style="line-height:40px;">
        				<label for="{{ field.id_for_label }}">{{ field.label }}：</label>
    					<input type="text" class="form-control" id="{{ field.id_for_label }}" 
    					name="{{ field.html_name }}" {% if field.value %}value="{{ field.value }}"{% endif %}>
					</div>        			     		
        		{% endfor %}
    				<input type="submit" value="查 询" class="btn btn-primary">   				
    			</form>
    			<!-- modal -->
    			<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    				<div class="modal-dialog" role="document">
    					<div class="modal-content"></div>
    				</div>
				</div>
				<!-- modal -->
    		{% endif %}
    		</div>
    	</div>
    	
    	{% if msg %}
    		{% if msg_type %}
    			{% if msg_type == "success" %}
    				<div class="alert alert-success" role="alert">{{ msg }}</div>
    			{% endif %}
    			{% if msg_type == "info" %}
    				<div class="alert alert-info" role="alert">{{ msg }}</div>
    			{% endif %}
    			{% if msg_type == "warning" %}
    				<div class="alert alert-warning" role="alert">{{ msg }}</div>
    			{% endif %}
    			{% if msg_type == "danger" %}
    				<div class="alert alert-danger" role="alert">{{ msg }}</div>
    			{% endif %}
    		{% endif %}
    	{% endif %}
    	
    	{% if page_obj %}
    	<div class="panel panel-default">
    		<div class="panel-heading">查询结果</div>
    		<table class="table table-bordered table-striped">
    			<tr>
  					<th>组id</th>
  					<th>组名称</th>
  					<th>子系统 名称</th>
  					<th>项目代号</th>
  					<th>项目名称</th>
  					<th>操作</th>
				</tr>
				{% for memcachegroup in page_obj %}
				<tr>
					<td>{{ memcachegroup.group_code }}</td>
					<td>{{ memcachegroup.group_name }}</td>
  					<td>{{ memcachegroup.subsystem.subsystem_fullname }}</td>
  					<td>{{ memcachegroup.subsystem.bussiness.bussiness_shortname }}</td>
  					<td>{{ memcachegroup.subsystem.bussiness.bussiness_fullname }}</td>
  					<td>
  						<button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#myModal" 
  						href="/mcadmin/group/create?subsystem_code={{ memcachesubsystem.subsystem_code }}&subsystem_fullname={{ memcachesubsystem.subsystem_fullname }}&bussiness_fullname={{ memcachesubsystem.bussiness.bussiness_fullname }}">添加实例</button>
  						<button type="button" class="btn btn-primary btn-xs">查询实例</button>
  						<button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#myModal" 
  						href="/mcadmin/subsystem/update?subsystem_code={{ memcachesubsystem.subsystem_code }}&subsystem_fullname={{ memcachesubsystem.subsystem_fullname }}">修改</button>
  						<button type="button" class="btn btn-primary btn-xs" 
  						onclick="if(confirm('确实要删除实例组{{ memcachegroup.group_name }}吗?'))
  						postCommit('/mcadmin/group/delete', {group_code:{{ memcachegroup.group_code }}});">删除</button>
					</td>
				</tr>
      			{% endfor %}
    		</table>
    		
    		<nav>
  				<ul class="pagination pagination-sm">
  					{% if page_obj.has_previous %}
  					<li>
      					<span aria-label="Previous" onclick="paginatorPostCommit({{ page_obj.previous_page_number }})">
        					<span aria-hidden="true">&laquo;</span>
      					</span>
    				</li>
    				{% endif %}
    				{% for i in page_obj.paginator.page_range %}
    					<li {% if page_obj.number == i %}class="active"{% endif %}>
    						<span onclick="paginatorPostCommit({{ i }})">{{ i }}</span>
    					</li>
    				{% endfor %}
    				{% if page_obj.has_next %}
    				<li>
    					<span aria-label="Next" onclick="paginatorPostCommit({{ page_obj.next_page_number }})">
        					<span aria-hidden="true">&raquo;</span>
      					</span>
      				</li>
    				{% endif %}
  				</ul>
			</nav>
    	</div>
    	{% endif %}       
	</div>
</div>

<!-- Required Stylesheets -->
<link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="/static/css/main.css" rel="stylesheet" type="text/css">
<!-- Required Javascript -->
<script type="text/javascript" src="/static/js/jquery-3.0.0.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/public.js"></script>
