<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		添加宿主机
</div>
<div class="modal-body">
	{% if message %}
		<p>{{ message }}</p>
	{% endif %}
    <form action="/mcadmin/host/create" method="post" name="postform">{% csrf_token %}
    	{% for field in form %}
        <div class="form-group">
        	{{ field.label_tag }}
			{{ field }}
		</div>      			     		
    	{% endfor %}
    	<input type="submit" value="添加宿主机" class=" btn btn-primary">
    </form>
 </div> 							