<ul id="main-nav" class="nav nav-tabs nav-stacked" style="">
            	<li class="active">
                	<a href="#">
                   		<i class="glyphicon glyphicon-th-large"></i>首页         
                    </a>
               	</li>
                <li>
                	<a href="#memcacheAdministration" class="nav-header collapsed" data-toggle="collapse">
                    	<i class="glyphicon glyphicon-th-list"></i> memcahce管理
                        <span class="pull-right glyphicon glyphicon-chevron-down"></span>
                   	</a>
                    <ul id="memcacheAdministration" class="nav nav-list collapse secondmenu" style="height: 0px;">
                    	<li><a href="/mcadmin/host/display"><i class="glyphicon glyphicon-home"></i>宿主机管理</a></li>
                   		<li><a href="/mcadmin/bussiness/display"><i class="glyphicon glyphicon-list-alt"></i>  项目管理</a></li>
                        <li><a href="/mcadmin/subsystem/display"><i class="glyphicon glyphicon-file"></i>子系统管理</a></li>
                        <li><a href="/mcadmin/group/display"><i class="glyphicon glyphicon-envelope"></i>实例组管理</a></li>
                        <li><a href="/mcadmin/instance/display"><i class="glyphicon glyphicon-star"></i>  实例管理</a></li>
                    </ul>
                </li>
                <li>
                	<a href="#AgentAdministration" class="nav-header collapsed" data-toggle="collapse">
                    	<i class="glyphicon glyphicon-font"></i>代理管理
                        <span class="pull-right glyphicon glyphicon-chevron-down"></span>
                   	</a>
                    <ul id="AgentAdministration" class="nav nav-list collapse secondmenu" style="height: 0px;">
                    	<li><a href="/mcadmin/host/display"><i class="glyphicon glyphicon-search"></i>代理查询</a></li>
                    </ul>
                </li>
                <li>
                    <a href="./charts.html">
                    	<i class="glyphicon glyphicon-calendar"></i>监控图表
                    </a>
                </li>
                <li>
                    <a href="./charts.html">
                    	<i class="glyphicon glyphicon-warning-sign"></i>告警管理
                    	<span class="label label-warning pull-right">5</span>
                    </a>
                </li>
                <li>
                	<a href="#cmdbAdministration" class="nav-header collapsed" data-toggle="collapse">
                    	<i class="glyphicon glyphicon-list-alt"></i> CMDB
                        <span class="pull-right glyphicon glyphicon-chevron-down"></span>
                   	</a>
                    <ul id="cmdbAdministration" class="nav nav-list collapse secondmenu" style="height: 0px;">
                    	<li><a href="/mcadmin/host/display"><i class="glyphicon glyphicon-search"></i>主机查询</a></li>
                    </ul>
                </li>
                <li>
                	<a href="#systemSetting" class="nav-header collapsed" data-toggle="collapse">
                    	<i class="glyphicon glyphicon-cog"></i>系统管理
                        <span class="pull-right glyphicon glyphicon-chevron-down"></span>
                   	</a>
                    <ul id="systemSetting" class="nav nav-list collapse secondmenu" style="height: 0px;">
                    	<li><a href="#"><i class="glyphicon glyphicon-user"></i>用户管理</a></li>
                   		<li><a href="#"><i class="glyphicon glyphicon-th-list"></i>菜单管理</a></li>
                        <li><a href="#"><i class="glyphicon glyphicon-asterisk"></i>角色管理</a></li>
                        <li><a href="#"><i class="glyphicon glyphicon-edit"></i>修改密码</a></li>
                        <li><a href="#"><i class="glyphicon glyphicon-eye-open"></i>日志查看</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="glyphicon glyphicon-book"></i>系统文档
                    </a>
                </li>
        	</ul>