<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		修改子系统名称
</div>
<div class="modal-body">
	{% if subsystem_fullname %}
		<p>现在子系统名称为：{{ subsystem_fullname }}，请输入新的子系统名称</p>
	{% endif %}
    <form action="/mcadmin/subsystem/update" method="post" name="postform">{% csrf_token %}
    	<input type="hidden" name="subsystem_code" value="{{ subsystem_code }}">
    	{% for field in form %}
        <div class="form-group">
        	{{ field.label_tag }}
			{{ field }}
		</div>      			     		
    	{% endfor %}
    	<input type="submit" value="修改" class=" btn btn-primary">
    </form>
 </div> 							